/* Start: Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("../fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("../fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
}

h1 {
  font-size: var(--header1);
  font-family: "Vibes", sans-serif;
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
  font-weight: normal;
}

h4,
h5 {
  font-size: var(--header4);
}

li,
button,
label,
p,
a {
  font-size: var(--text);
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End: Global Styles */

/* Start: Navigation Section */
.main-header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}
/* End: Navigation Section */

/* Start: Hero Section */
.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}

.hero-introduction h2 {
  padding-top: 3rem;
}

.hero-introduction p {
  padding: 5rem 10rem;
}

.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid #000;
  margin-bottom: 4rem;
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
}

.plant-2 {
  left: 40%;
}
/* End: Hero Section */

/* Start: Animations */
@keyframes opening {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* End: Animations */
